<!-- <div class="container text-center pt-5">
    <h2>
        Agregar Inscripción
    </h2>
    <hr>
</div>
<div class="container-mdinput-group-text bg-online-ud">
    <div class="row justify-content-md-center">

        <div class="col-sm-0 m-1 pl-3">
            <i class="fas fa-user fa-2x text-color-ud"></i>
        </div>
        <div class="colinput-group-text bg-online-ud">
            <div class="input-group-prepend ">
                <span class="input-group-text bg-online-ud">Nombres / Apellidos</span>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="input-group">
                <input type="text" aria-label="nombre" class="form-control input-text-ud">
                <input type="text" aria-label="apellido" class="form-control input-text-ud">
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">

        <div class="col-sm-0 m-1 pl-3">
            <i class="fas fa-user fa-2x"></i>
        </div>
        <div class="colinput-group-text bg-online-ud">
            <div class="input-group-prepend">
                <span class="input-group-text">Codigo</span>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="input-group">
                <input type="text" aria-label="nombre" class="form-control">
                <input type="text" aria-label="apellido" class="form-control">
            </div>
        </div>
    </div>

</div>
 -->


<div class="container text-center pt-5">
    <h2>
        Agregar Inscripción
    </h2>
</div>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">


    <div class="form-group row justify-content-md-center">

        <div class="col col-md-auto mt-1">
            <div class="input-group-prepend ">
                <label class="col-form-label input-group-text bg-online-ud"> 
                        <i class="fas fa-user text-color-ud bg-online-ud mr-1"></i>
                        Nombres / Apellidos
                    </label>
            </div>
        </div>
        <div class="col-md-3 mt-1">
            <input type="text" aria-label="nombre" class="form-control form-control-ud" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido">
            <small *ngIf="nombreNoValido" class="text-danger">
                            El nombre debe tener 5 letras
                        </small>
        </div>
        <div class="col-md-3 mt-1">
            <input type="text" aria-label="apellido" class="input-text-ud form-control" placeholder="Apellido" formControlName="apellido" [class.is-invalid]="apellidoNoValido">
            <small *ngIf="apellidoNoValido" class="text-danger">
                            El apellido debe tener 5 letras
                        </small>
        </div>

    </div>

    <div class="form-group row justify-content-md-center">

        <div class="col col-md-auto mt-1">
            <div class="input-group-prepend ">
                <label class="col-form-label input-group-text bg-online-ud"> 
                        <i class="fas fa-id-card-alt text-color-ud bg-online-ud mr-1"></i>
                        Codigo
                    </label>
            </div>
        </div>
        <div class="col-md-3 mt-1 ml-1">
            <input type="text" aria-label="codigo" class="form-control form-control-ud" placeholder="20101001001" formControlName="codigo" [class.is-invalid]="codigoNoValido">
            <small *ngIf="codigoNoValido" class="text-danger">
                El Codigo debe tener 11 letras
            </small>
        </div>

    </div>


    <div class="form-group row justify-content-md-center">
        <div class="col col-md-auto mt-1">
            <div class="input-group-prepend ">
                <label class="col-form-label input-group-text bg-online-ud">
                    <i class="fas fa-envelope text-color-ud mr-1"></i>
                    Correo
                </label>
            </div>
        </div>

        <div class="col-md-3 mt-1 ml-1">

            <input class="form-control form-control-ud" type="email" placeholder="Correo electrónico" formControlName="correo" [class.is-invalid]="correoNoValido">
            <small *ngIf="correoNoValido" class="text-danger">
                Debe ingresar un correo obligatorio
            </small>
        </div>
    </div>



    <div class="form-group row justify-content-md-center">
        <div class="col col-md-auto mt-1">
            <div class="input-group-prepend ">
                <label class="col-form-label input-group-text bg-online-ud">
                    <i class="fas fa-id-card text-color-ud mr-1"></i>
                    Documento
                </label>
            </div>
        </div>

        <div class="col-md-3 mt-1 ml-1">

            <input class="form-control form-control-ud" type="text" placeholder="Documento de I." formControlName="documento" [class.is-invalid]="documentoNoValido">
            <small *ngIf="documentoNoValido" class="text-danger">
                Debe ingresar un documento obligatorio
             </small>
        </div>
    </div>



    <div class="form-group row justify-content-md-center">
        <div class="col col-md-auto mt-1">
            <div class="input-group-prepend ">
                <label class="col-form-label input-group-text bg-online-ud">
                    <i class="fas fa-university text-color-ud mr-1"></i>
                    Facultad
                </label>
            </div>
        </div>
        <div class="col-md-3 mt-1 ml-1">
            <input class="form-control form-control-ud" type="text" placeholder="Facultad" formControlName="facultad" [class.is-invalid]="facultadNoValido">
            <small *ngIf="facultadNoValido" class="text-danger">
                Debe ingresar una facultad obligatoria
            </small>
        </div>
        <!--     </div>

    <div class="form-group row justify-content-md-center"> -->
        <div class="col col-md-auto mt-1">
            <div class="input-group-prepend ">
                <label class="col-form-label input-group-text bg-online-ud">
                    <i class="fas fa-graduation-cap text-color-ud mr-1"></i>
                    Carrera
                </label>
            </div>
        </div>
        <div class="col-md-3 mt-1 ml-1">
            <input class="form-control form-control-ud" type="text" placeholder="Carrera" formControlName="carrera" [class.is-invalid]="carreraNoValido">
            <small *ngIf="carreraNoValido" class="text-danger">
                Debe ingresar un carrera obligatoria
            </small>
        </div>
    </div>



    <!--  Codigo - Nombre - Apellido - Correo - Documento - Facultad - Proyecto - estrato - la localidad - barrio - direccion -  - telefono -->


    <div class="form-group row justify-content-md-center">
        <div class="col col-md-auto mt-1">
            <div class="input-group-prepend ">
                <label class="col-form-label input-group-text bg-online-ud">
                    <i class="fas fa-money-check-alt text-color-ud mr-1"></i>
                    Estrato
                </label>
            </div>
        </div>
        <div class="col-md-3 mt-1 ml-1">
            <input class="form-control form-control-ud" type="text" placeholder="Estrato" formControlName="estrato" [class.is-invalid]="estratoNoValido">
            <small *ngIf="estratoNoValido" class="text-danger">
                Debe ingresar un estrato obligatorio
            </small>
        </div>
        <!--     </div>

    <div class="form-group row justify-content-md-center"> -->
        <div class="col col-md-auto mt-1">
            <div class="input-group-prepend ">
                <label class="col-form-label input-group-text bg-online-ud">
                    <i class="fas fa-phone text-color-ud mr-1"></i>
                    Telefono
                </label>
            </div>
        </div>
        <div class="col-md-3 mt-1 ml-1">
            <input class="form-control form-control-ud" type="text" placeholder="Telefono" formControlName="telefono" [class.is-invalid]="telefonoNoValido">
            <small *ngIf="telefonoNoValido" class="text-danger">
                Debe ingresar un telefono obligatorio
            </small>
        </div>
    </div>



    <div class="form-group form-inline row justify-content-md-center">
        <div class="col col-md-auto mt-1">
            <div class="input-group-prepend ">
                <label class="col-form-label input-group-text bg-online-ud">
                    <i class="fas fa-gopuram text-color-ud mr-1"></i>
                    Barrio
                </label>
            </div>
        </div>
        <div class="col-md-3 mt-1 ml-1">
            <input class="form-control form-control-ud" type="text" placeholder="Barrio" formControlName="barrio" [class.is-invalid]="barrioNoValido">
            <small *ngIf="barrioNoValido" class="text-danger">
                Debe ingresar un barrio obligatorio
            </small>
        </div>
        <!--     </div>


    <div class="form-group form-inline row justify-content-md-center"> -->
        <div class="col col-md-auto mt-1">
            <div class="input-group-prepend ">
                <label class="col-form-label input-group-text bg-online-ud">
                    <i class="fas fa-map-signs text-color-ud mr-1"></i>
                    Localidad
                </label>
            </div>
        </div>
        <div class="col-md-3 mt-1 ml-1">
            <input class="form-control form-control-ud" type="text" placeholder="Localidad" formControlName="localidad" [class.is-invalid]="localidadNoValido">
            <small *ngIf="localidadNoValido" class="text-danger">
                Debe ingresar una localidad obligatoria
            </small>
        </div>
    </div>


    <div class="form-group row justify-content-md-center" formGroupName="direccion">
        <label class="input-group-text bg-online-ud col-form-label">
            <i class="fas fa-map-marker-alt text-color-ud mr-1"></i>
            Direccion
        </label>
        <div class="form-row col justify-content-md-center">

            <div class="col">
                <input type="text" class="form-control form-control-ud" placeholder="Dirección" formControlName="calles" [class.is-invalid]="callesNoValido">
            </div>

            <div class="col">
                <input type="text" class="form-control form-control-ud" placeholder="Ciudad" formControlName="ciudad" [class.is-invalid]="ciudadNoValido">
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Pasatiempo</th>
                        <th>Borrar</th>
                    </tr>

                </thead>
                <tbody formArrayName="pasatiempos">
                    <tr *ngFor="let control of pasatiempos.controls; let i=index">
                        <td>{{ i+1}}</td>
                        <td><input type="text" class="form-control" [formControlName]="i">
                        </td>
                        <td>
                            <button class="btn btn-danger" type="button" (click)="borrarPasatiempo(i)">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-success mt-3 mb-5 btn-block" type="button" (click)="agregarPasatiempo()">+ Agregar</button>
        </div>
    </div>


    <div class="form-group row">
        <label class="input-group-text bg-online-ud col-form-label">&nbsp;</label>
        <div class="input-group col">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>

<hr>
<pre>
  Estado del formulario: {{ forma.valid }}
  <br>
  Status: {{ forma.status}}
</pre>
<pre>
  {{forma.value | json}}
</pre>