<h1>Periodo</h1>
<hr>
<div class="row text-right">
    <div class="col">
        <button class="btn back-button" routerLink="/periodos">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Regresar
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar( f )" #f="ngForm">
            <!-- <div class="form-group">
                <label class="bg-online-ud">ID</label>
                <input type="number" placeholder="ID periodo" [(ngModel)]="periodo.id" name="id" class="form-control input-text-ud" disabled="disable">
                
            </div> -->
            <div class="form-group">
                <label class=" bg-online-ud">Nombre</label>
                <input [class.is-invalid]="nombre.invalid && nombre.touched" type="text" placeholder="Nombre del Periodo" [(ngModel)]="periodo.nombre" name="nombre" class="form-control input-text-ud" required #nombre="ngModel" pattern="[0-9]{4}[-]{1}[1-3]{1}">
                <small *ngIf="nombre.invalid && nombre.touched " class="form-text text-danger">Este campo es obligatorio
                    y se espera de la forma año-semestre (2020-1)</small>
            </div>
            <div class="form-group">
                <label class=" bg-online-ud">Fecha inicio</label>
                <input [class.is-invalid]="fechaIn.invalid && fechaIn.touched" type="date" placeholder="Fecha de inicio" [(ngModel)]="periodo.fechaInicio" name="fechaInicio" class="form-control input-text-ud " #fechaIn="ngModel" required>
                <small *ngIf="fechaIn.invalid && fechaIn.touched " class="form-text text-danger">Este campo es
                    obligatorio</small>
            </div>
            <div class="form-group">
                <label class=" bg-online-ud">Fecha fin</label>
                <input type="date" placeholder="Fecha de fin" [(ngModel)]="periodo.fechaFin" [class.is-invalid]="fechaFin.invalid && fechaFin.touched" name="fechaFin" class="form-control input-text-ud" #fechaFin="ngModel" required>
                <small *ngIf="fechaFin.invalid && fechaFin.touched " class="form-text text-danger">Este campo es
                        obligatorio</small>

            </div>

            <hr>
            <div class="form-group">
                <button type="submit" class="btn btn-warning btn-block">
                    <i class="fas fa-save    "></i>
                    Guardar
                </button>

            </div>
        </form>
    </div>
</div>
