.bg-ud {
    background: #4c1818;
}

.bg-online-ud {
    color: #4c1818;
    border-color: #4c1818;
    background: white;
}

.bg-ud:hover {
    background: #3d1414;
}

.input-text-ud {
    border-color: #be951a;
}

.form-control-ud {
    border-color: #be951a;
}

.text-color-ud {
    color: #4c1818;
}

.bg-ud-yell {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.bg-ud-yell:hover {
    background: #be951a;
}