<h1>Listado periodos</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button class="btn btn-primary" routerLink="/periodo/nuevo" >
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>

<table *ngIf="!cargando" class="table mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Poder</th>
        <th scope="col">Vivo</th>
        <th scope="col">Herramientas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let periodo of periodos; let i = index">
        <th scope="row">{{ i +1 }}</th>
        <td>{{ periodo.nombre }}</td>
        <td>{{ periodo.poder }}</td>
        <td>
          <lable *ngIf="periodo.vivo" class="badge badge-success">Vivo</lable>
          <lable *ngIf="!periodo.vivo" class="badge badge-danger">Muerto</lable>
        </td>
        <td>
            <button class="btn btn-info mr-1"
              [routerLink]="['/periodo', periodo.id ]">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button class="btn btn-danger "
            (click)="borrarperiodo(periodo, i)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>

        </td>
      </tr>
    </tbody>
  </table>


  <div *ngIf="!cargando && periodos.length===0" class="alert alert-warning text-center mt-3">
      <h3 class="alert-heading">No hay registros</h3>
      <p>
          <i class="fa fa-exclamation fa-2x    "></i>
      </p>
  </div>
  <div *ngIf="cargando" class="alert alert-info text-center mt-3">
      <h3 class="alert-heading">Cargando</h3>
      <p>
          <i class="fa fa-sync-alt fa-spin fa-2x    "></i>
      </p>
      <p class="mb-0">
          Espere por favor
      </p>
  </div>