<h1>Listado periodos</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button class="btn btn-warning" routerLink="/periodo/nuevo">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>

<table *ngIf="!cargando && periodos.length>0" class="table mt-3">
    <thead class="bg-ud-table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Periodo</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Fecha Fin</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody class="bg-ud-table-cell">
        <tr *ngFor="let periodo of periodos; let i = index">
            <th scope="row">{{ i +1 }}</th>
            <td>{{ periodo.nombre }}</td>
            <td>{{ periodo.fechaInicio }}</td>
            <td>{{ periodo.fechaFin }}</td>
            <td>

                {{ periodo.estado | titlecase }}
            </td>
            <td>
                <button *ngIf="periodo.estado!=='finalizado'" class="btn btn-info mr-1" [routerLink]="['/periodo', periodo.id ]">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button *ngIf="periodo.estado==='nuevo'" class="btn btn-danger " (click)="borrarPeriodo(periodo, i)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>

            </td>
        </tr>
    </tbody>
</table>


<div *ngIf="!cargando && periodos.length==0" class="alert alert-warning text-center mt-3">
    <h3 class="alert-heading">No hay registros</h3>
    <p>
        <i class="fa fa-exclamation fa-2x    "></i>
    </p>
</div>
<div *ngIf="cargando" class="alert alert-info text-center mt-3">
    <h3 class="alert-heading">Cargando</h3>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x    "></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>

<pre>
    {{ periodos | json}}
</pre>